<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :steps %><br>
    <%= f.text_field :steps %>
  </div>
  <div class="field">
    <%= f.label :zhuliao %><br>
    <%= f.text_field :zhuliao %>
  </div>
  <div class="field">
    <%= f.label :fuliao %><br>
    <%= f.text_field :fuliao %>
  </div>
  <div class="field">
    <%= f.label :zuoliao %><br>
    <%= f.text_field :zuoliao %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :for_who %><br>
    <%= f.text_field :for_who %>
  </div>
  <div class="field">
    <%= f.label :cure_for %><br>
    <%= f.text_field :cure_for %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
